.modalContainer {
    text-align: center;
    margin: 10%;
    min-height: 100px;
    border-radius: 8px;
    background: linear-gradient(to right bottom, hsl(236, 50%, 50%), hsl(195, 50%, 50%));
    position: relative;
    overflow: hidden;
    padding: 5%;
}
.input{
    border: none;
    border-bottom: 1px solid #000;
    outline: 0;
    color: white;
    cursor: text;
    padding: 5px;
    background: transparent;
    transition: border-color 0.2s;
    margin: 5px;
}
.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.error{
    font-size: 13px;
    color: black;
}
.submitBtn{
    margin-top: 20px;
    width: 50%;
    border: none;
    border-radius: 10px;
    padding: 7px;
    background: #282c34;
    color: white;
}
.submitBtn:hover{
    transition: .2s;
    width: 55%;
}
.close {
    background: hsl(199, 100%, 50%);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    border: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 150ms;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    content: 'asd'
}

.close:hover {
    opacity: 1;
    transform: rotate(180deg);
}



.instanceBlock {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    background: linear-gradient(to right bottom, hsl(236, 70%, 50%), hsl(195, 100%, 45%));

}


.fragment{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 1px;
    padding-left: 20%;
}
