.block {
    width: 40px;
    height: 40px;
    margin-left: 40px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: yellow;
    transform: skewX(-15deg)

}
.block:hover{
    background-color: red;
    transition: .2s;
}
.block:not(:first-child){
    margin-top: -20px;

}
.iconBlock {
    display: inline-flex;
    vertical-align: top;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}